// mixins

@mixin vertical-align() {
	position: absolute;
	top: 50%;
	@include transform( translateY( -50% ) );
}

@mixin material-shadow($depth) {
	@if $depth == 1 {
		@include box-shadow( 0 2px 5px 0 rgba(black, 0.26), 0 2px 10px 0 rgba(black, 0.16) );
	}
	@if $depth == 2 {
		@include box-shadow( 0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05) );
	}
	@if $depth == 3 {
		@include box-shadow( 0 7px 10px rgba(black, 0.30), 0 10px 50px rgba(black, 0.12) );
	}
	@if $depth == 4 {
		@include box-shadow( 0 10px 15px rgba(black, 0.28), 0 15px 60px rgba(black, 0.18) );
	}
	@if $depth == 5 {
		@include box-shadow( 0 16px 20px rgba(black, 0.29), 0 20px 65px rgba(black, 0.18) );
	}
}

//Variables for mixins
$prefix_all: -webkit-, -moz-, -ms-, -o-, '';

@mixin overflow-scrolling($prop: touch) {
	@each $prefix in $prefix_all {
		#{$prefix}overflow-scrolling: $prop;
	}
}