// panel styling

.panel {
	border: none;
	// @include transition( 0.4s cubic-bezier(.3, 0, 0, 1.3) );
	@include transition( 0.3s ease );
	@include box-shadow( 0 1px 4px 0 rgba( $black, 0.16) );

	&:hover {
		@include box-shadow( 0 6px 10px 0 rgba( $black, 0.08 ) );
	}

	.panel {
		@include border-radius( 0 );
		@include box-shadow( none );
	}
	.panel-body {
		> .row {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.panel-heading,
	.panel-body,
	.panel-footer {
		padding: 15px;
		@media screen and ( min-width: $screen-md-min ) {
			padding: 20px;
		}
	}
	.panel-heading,
	.panel-footer {
		background: none;
	}
	.panel-heading {
		height: 60px;
		border-bottom: 1px solid $borderGrey;
		overflow: hidden;
		@media screen and ( min-width: $screen-md-min ) {
			padding-top: 27px;
			height: 70px;
		}
		.panel-title {
			font-size: 18px;
			font-weight: 400;
			a {
				color: $ct_primaryRed;
			}
		}

		// try coloured headings
		&.heading-red {
			background: $ct_primaryRed;
			border-bottom: none;
			.panel-title {
				color: $white;
				
			}
			a {
				color: $white;
			}
		}
		&.slim {
			padding: 10px 20px;
			height: auto;
		}
	}
	.panel-footer {
		padding: 20px;
		border-top: 1px solid $borderGrey;
		height: auto;
		position: relative;
		@include clearfix;
		@media screen and ( min-width: $screen-sm-min ) {
			height: 82px;
		}
		.btn {

			@media screen and ( max-width: $screen-sm-min ) {
				display: block;
				margin-top: 15px;
				width: 100%;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}